#navbarNav ul li{
    margin-left: 50px;
    margin-right: 50px;
}
.logo{
width: 110px;
height: 80px;
margin-right: 20px;
}

.carousel img{
height: 70vh;
width: 60vw;
}

.video{
margin-top: 100px;
}

.form-select{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    margin-top: 30px;
    margin-bottom: 10px;
}

iframe{
    width: 60vw;
    height: 60vh;
}


.maps{
    height: 50vh;
    width: 40vw;
}